<div class="jumbotron">
  <h1>Brubaker Shipping Co.</h1>
  <h4>Company Employee Tracker</h4>
</div>

<p><a href="/hr_manager">HR Manager Portal</a></p>
<p><a href="/project_manager">Project Manager Portal</a></p>
